@{
    ViewData["Title"] = "Home Page";

}
@model FeroAdmin.Models.ChangeStatusModel
@*@ViewBag.data*@

<div>
    <table>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Date of birth</th>
            <th>Gender</th>
            <th>Phone</th>
            <th>Address</th>
            <th>Action</th>
        </tr>
        @foreach (var model in ViewBag.data)
        {
            var m = (Model)model;
            string Str1 = m.DateOfBirth.ToShortDateString();
            <tr>
                <td>@m.Id</td>
                <td>@m.Name</td>
                <td>@Str1</td>
                <td>
                    @if (m.Gender == 0)
                    {
                        <label>Male</label>
                    }
                    @if (m.Gender == 1)
                    {
                        <label>Female</label>
                    }
                    @if (m.Gender == 2)
                    {
                        <label>Another</label>
                    }
                </td>
                <td>
                    @m.Phone
                </td>
                <td>
                    @m.SubAddress
                </td>
                <td>
                    @if (m.Status)
                    {
                    <form action="Inactive" method="post">
                        <input type="submit" value="Inactive" name="action" />
                        <input type="hidden" name="ModelId" value="@m.Id"/>
                    </form>

                    }
                    else
                    {
                <form action="Active" method="post">
                    <input type="submit" value="Active" name="action" />
                    <input type="hidden" name="ModelId" value="@m.Id" />
                </form>
                    }
                </td>
            </tr>

        }
    </table>

</div>